<app-nav></app-nav>

<div style="background: 'url(assets/background.jpg)'; background-size: 'cover'; height: 300px">
    <div class="container">
        <div class="box">
            <h1>Hands on Learning</h1>
            <h4>Find a project to practice your skills</h4><br>
            <form>
                <label>Enter Project Skill</label><br>
                <input type="text" [(ngModel)]="skill" name="skill" placeholder="Enter a skill you want to learn!" class="form-control"><br>
                <p><button class="btn btn-primary" type="submit" (click)="showList()">Show Results</button>
                    <button class="btn btn-primary pad-L" type="submit" (click)="clearList()">Clear Results</button></p>
            </form>
            
            <hr>

            <div *ngIf="showProject">
                <p>Search Skill: {{ skill }}</p>
                    <div *ngFor="let project of projectList">
                        <h4>Project: </h4>{{project.name}}
                        <h4>Description Long: </h4>{{project.long_description}}
                        <h4>Description Short: </h4>{{project.short_description}}
                        <h4>Skills: </h4>{{project.skills}}
                        <h4>Current State:</h4>{{project.current_state}}
                    </div>
            </div>


        </div>
    </div>
</div>