<app-nav></app-nav>

<div style="background: 'url(assets/background.jpg)'; background-size: 'cover'; height: 300px">
    <div class="container">
        <div class="box">
            <h1>Find Your Mentors</h1>
            <label for="items">Using our mentor searching function, you will be able to find a perfect mentor for your desired skills! </label><br>
            <label for="items">Please enter any skills to find your mentor!</label>
            <input type="text" placeholder="Enter a skill you want to learn!" class="form-control"><br>
                <button class="button" type="submit">Show My Mentors!</button>

           

        </div>
    </div>
</div>
