
<div style="background-color: white;">
    <img src="assets/FIS_header.png" width="100%;">
</div>

<div style="background: 'url(assets/background.jpg)'; background-size: 'cover'; height: 300px">

    <div class="container">
        <div class="box">
            <h1 class="title">
                Welcome to Skills Web App!
            </h1>
            <div class="row clickable" routerLink="/app1">
                <div class="col-md-12">
                    <i class="fas fa-puzzle-piece fa-4x green"></i>
                    <span class="pad">Skills Category</span>
                    <hr>
                </div>
            </div>
            <div class="row clickable" routerLink="/app2">
                <div class="col-md-12">
                        <i class="fas fa-puzzle-piece fa-4x green"></i>
                        <span class="pad">Finding a Mentor</span>
                    <hr>
                </div>
            </div>
            <div class="row clickable" routerLink="/app3">
                <div class="col-md-12">
                    <i class="fas fa-puzzle-piece fa-4x green"></i>
                    <span class="pad">Learning From Innovative Projects</span>
                    <hr>
                </div>
            </div>
            <div class="row clickable" routerLink="/app4">
                <div class="col-md-12">
                    <i class="fas fa-puzzle-piece fa-4x green"></i>
                    <span class="pad">Application 4</span>
                    <hr>
                </div>
            </div>
            <div class="row clickable" routerLink="/app5">
                <div class="col-md-12">
                    <i class="fas fa-puzzle-piece fa-4x green"></i>
                    <span class="pad">Application 5</span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


