.box {
  background-color: white;
  margin-top: 125px;
  border-radius: 5px;
  padding: 10px 25px;
  min-height: 200px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 50px;
}

.green {
  color: #4bcd3e;
  padding-left: 20px;
}
.pad {
  padding-left: 20px;
  font-size: 24px;
}

.clickable {
  cursor: pointer;
}
